:root {
    /*Черным войти/регистрация, заголовки товаров, 
    сервисы и доставка, подписи полей формы, компания и контакты*/
    --basic-red: #ee3643; /*все красное*/
    --darker-red: #BA2732;
    --basic-grey: #3d546f; /*?*/
    --dark-grey: #32425c; /*адрес навбар хедеры ДОСТАВКА гарантия кредит, мои заказы, л.кабинет*/
    --darker-grey: #293449; /*самый верх и низ*/
    --font-yellow: #ffd180; /*шрифт нижнего списка и ссылок*/
    --light-grey: #f4f4f4; /*дно попапа 1*/
    --light-grey: #f1f1f1; /*дно попапа 2*/
    --frame-grey: #e5e5e5; /*рамки селектора страниц каталога*/
    --filter-brown: #f7f3ec;
    --light-brown: #f9f5f0; /*бекграуд названия секций*/
    --basic-greylight: #c5c5c5; /*рамка полей формы попапа, фильтра по мануфактур*/
    --basic-background: #f1f5f7; /*бэкграунд сервисдоставка, нижний нав шрифт, слово о перфораторах*/
    --onemore-grey: #f3f7f9; /*сервый для нижнего адреса*/
    --yetanothershdeofgrey: #f2f6f8;
    --light-grey: #eaeaea; /*бордер партнеров*/
    --special-yellow: #ffbf47;/*все спешлы для плитки*/
    --social-blue: #212a3a;
    --special-yellow2: #ffc047;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-greenlight: #8ed78f;
    --special-yellowlight: #ffd180; 
    --old-cost: #a9a9a9;
    --basic-green: #63a63e; /*оформить заказ, купить*/
    --success: #5fbb2d; /*наведение-купить*/
    --error: #ba2732;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.new-item {
    width: 100px;
    padding: 7px 0 5px;
    color: white;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(45deg);
    position: absolute;
    top: 6px;
    right: -26px;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
}

body {
    font-family: Cuprum, sans-serif;
    margin: 0;
}

.line {   
    background-color: var(--darker-grey);
}

.wrap {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.line2 {
    background-color: #F1F5F7;
    display: flex;
    flex-direction: column;
}

.line3 {
    background-color: var(--dark-grey);
}

.header-top {
    background-color: var(--darker-grey);
    display: flex;
    flex-wrap: wrap;
}

ul, ol {
    list-style: none;
}

.logo-img {
    background-color: var(--basic-red);
    box-shadow: 0px 5px 0px #8a1f27;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-img:active {
    background-color: var(--error);
}

.search-form {
    flex-grow: 1;
    position: relative;
}

.search-form input {
    width: 100%;
    background-color: var(--darker-grey);
    border: none;
    color: white;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 42px;
}

.search-form input:hover {
    background-color: var(--darker-grey);
}

.search-form input:focus {
    background-color: white;
    color: black;
}

.search-form input::-webkit-input-placeholder {color:#fff;}
.search-form input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.search-form input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.search-form input:-ms-input-placeholder      {color:#fff;}

.search-form svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    opacity: 0.3;
}

.search-form:hover svg {
    opacity: 1;
}

.search-form input:focus + svg {
    fill: #ee3643;
    opacity: 1;
}

.bookmark-label {
    display: inline-block;
    padding-right: 21px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-right: 18px;
}

.cart-label {
    display: inline-block;
    padding-right: 21px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.bookmark-label::before {
    content: "";
    background-image: url(../img/design/icon-bookmark.svg);
    width: 14px;
    height: 16px;
    opacity: 0.3;
    position: absolute;
    top: 13px;
    left: 11px;
}

.cart-label::before {
    content: "";
    background-image: url(../img/design/icon-cart.svg);
    width: 15px;
    height: 15px;
    opacity: 0.3;
    position: absolute;
    top: 13px;
    left: 11px;
}

.bookmark-label:hover::before,
.cart-label:hover::before {
    opacity: 1;
}


.bookmark-label:active,
.cart-label:active {
    background-color: #161029;
    color: rgba(255, 255, 255, 0.5);
}

.bookmark-label:active::before,
.cart-label:active::before {
    opacity: 0.3;
}

.header-top .label-current {
    background-color: var(--basic-red);
}

.checkout-top {
    display: inline-block;
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    background-color: var(--basic-green);
    text-align: center;
}

.checkout-top:hover,
.checkout-top:focus {
    background-color: var(--success);
}

.checkout-top:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 46px;
   
}

.page-title {
    margin: -3px 0 0 31px;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-red);
}

.address-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-top {
    border: 3px solid white;
    padding: 4px 42px 5px 71px;
    margin-left: 94px;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: var(--basic-red);
    position: relative;
}

.phone-top:before {
    content: "";
    background-image: url(../img/design/icon-phone.svg);
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 36px;
}

.address-top {
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-grey);
    margin-bottom: 40px;
    margin-top: 3px;
    margin-left: 92px;
}

.login-wrap {
    font-size: 0;
    margin-left: auto;
}

.login {
    position: relative;
    display: inline-block;
    background-color: #fff;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
}

.user {

    padding-left: 56px;
    padding-right: 57px;
}

.user svg {
    position: absolute;
    top: 13px;
    left: 15px;
}


.signout svg {
    position: absolute;
    top: 8px;
    right: 17px;
}

.signin {
    padding-right: 27px;
    padding-left: 45px;
    margin-right: 10px;
}

.signin svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
}

.login:hover path,
.login:focus path{
    fill: var(--basic-grey);
}

.login:active path {
    fill: var(--basic-greylight);
}

.signup {
    padding-right: 24px;
    padding-left: 24px;
}

.login:hover,
.login:focus {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--basic-red);
}

.login:active {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--basic-greylight);
}

.submenu {
    display: flex;   
    justify-content: center;
    padding: 0;
    padding-top: 7px;
    margin-right: 2px;
}

.submenu-item:last-child {
    padding-left: 31px;
    position: relative;
}

.submenu-item:last-child::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 14px;
    width: 4px;
    height: 4px;
    background-color: var(--dark-grey);
    border-radius: 50%;
}

.submenu-link {
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.submenu-link:hover,
.submenu-link:focus {
    color: var(--basic-red);
}

.submenu-link:active {
    color: var(--basic-greylight);
}

.nav {
    margin-bottom: 60px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-grey);
    box-shadow: inset 0px -5px 0px #293449;
    justify-content: space-between;
    padding: 0 23px 0 25px;
    margin: 0;
}

.nav-link {
    display: block;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    padding-top: 16px;
    padding-left: 27px;
    padding-bottom: 20px;
    padding-right: 24px;

}

.nav-link:hover, 
.nav-link:focus {
    background-color: var(--darker-grey);
}

.nav-link:active {
    background-color: #1d2739;
    color: #858b94;
}

.cat-page-main {
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 20px;
}

.grid-col-1 {
    grid-column: 1 / 2;
}

.grid-col-2 {
    grid-column: 2 / -1;
}

.grid-col-both {
    grid-column: 1 / -1;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 20px;
    font-family: PT sans;
}

.breadcrumbs li {
    position: relative;
    margin-right: 41px;
}

.breadcrumbs li:first-child a {
    display: block;
    margin-top: 4px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";
    background-image: url(../img/design/icon-right-small.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    width: 8px;
    height: 12px;
  }

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs-link {
    color: black;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.cat-page-header {
    background-color: #f2f6f8;
    margin-bottom: 20px;
}

.header-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 29px 0 30px 29px;
}

.pale {
    background-color: #f7f3ec;
    border-radius: 3px;
}

.line-heading {
    color: black;
    font-family: PT sans;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 0 10px 18px;
    margin: 0;
    grid-row-start: 3;
    flex-grow: 1;
}

.filter-top {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.filter-top ul {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
    padding-right: 46px;
    padding-left: 6px;
    margin: 0;
    margin-bottom: 4px;
}


.custom {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-family: PT sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0;
    border: none;
    border-bottom: 1px dotted var(--basic-red);
}

.sort {
    width: 43px;
    display: flex;
    justify-content: space-between;
    margin-right: 17px;
}

.sort-up {
    transform: rotate(-180deg);
}

.sort-current path{
    fill: var(--basic-red);
}

.filters {
    width: 220px;
}

.filter-field {
    margin: 0;
    padding: 0;
    border: none;
    font-family: PT sans;
    color: black;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.filter-field ul {
    padding: 0;
    margin: 0;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 35px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.checkbox + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -35px;
    width: 23px;
    height: 23px;
    border: 2px solid var(--basic-greylight);
    border-radius: 3px;
}

.checkbox:checked + label::before {
    content: "";
    background-image: url(../img/design/checkbox-on.svg);
    width: 27px;
    height: 23px;
    position: absolute;
    top: -3px;
    left: -35px;
    border: none;
  }

.radio + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 25px;
    height: 25px;
    border: 3px solid var(--basic-greylight);
    border-radius: 50%;
}

.radio:checked + label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -27px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
  }

.filters-form button {
    background-color: transparent;
    width: 100%;
    font-family: PT sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--basic-greylight);
    cursor: pointer;
}

.aside-heading {
    font-family: PT sans;
    color: black;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: -1px 0 11px -2px;
}

.makes-ranger {
    margin-top: 18px;
}

.makes-ranger ul {
    padding-top: 7px;
    padding-bottom: 6px;
}

.type-ranger {
    margin-top: 20px;
    margin-bottom: 12px;
    border: none;
}

.type-ranger ul {
    padding-top: 13px;
}

.type-ranger li {
    margin-bottom: 23px;
}

.range-filter {
    margin-bottom: 25px;
} 

.range-ctrls {
    position: relative;
    height: 80px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.prog-bar {
    height: 2px;
    background-color: #d7dcde;
}

.prog-bar-select {
    width: 152px;
    height: 2px;
    background-color: #00ca74;
}

.range-ctrls .toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0;
    height: 0;
    padding: 2px;
    background-color: #ababab;
    border: 8px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-ctrls .toggle-min {
    left: 18px;
}

.range-ctrls .toggle-max {
    left: 160px;
}

.price-ctrls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-ctrls label {
    font-family: PT sans;
    font-size: 16px;
    line-height: 18px;
}

.price-ctrls input {
    width: 95px;
    padding: 7px;
    text-align: center;
    border: none;
    font-family: PT sans;
    font-size: 17px;
    line-height: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ============CATALOGUE============= */

.catalogue-list {
    margin: 0;
    margin-top: 14px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 18px;
    column-gap: 20px;
}

.page-counter ol {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 49px;
    margin-bottom: 59px;
    margin-left: -2px;
}

.pg-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 38px;
    height:38px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 10px;
}

.pg-link {
    color: black;
    font-family: PT sans;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
}

.pg-item:hover,
.pg-item:focus {
    border-color: var(--basic-greylight);
}

.pg-item:active {
    border-color: var(--basic-red);
}

.pg-item-current {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 38px;
    height:38px;
    border: 1px solid var(--basic-red);
    border-radius: 2px;
    overflow: hidden;
    margin-right: 10px;
    background-color: var(--basic-red);
    color: white;
}

.page-counter ol button {
    width: 140px;
}

.cat-page-description {
    color: black;
    padding-top: 63px;
    padding-bottom: 67px;
}

.cat-page-description h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.cat-page-description p {
    font-family: PT sans;
    font-size: 13px;
    line-height: 25px;
    margin: 0;
}

/* ================================== */

.offers-wrapper {
    display: grid;
    min-height: 409px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin: 59px auto;
}

.offer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 22px;
    overflow: hidden;
}

.offer-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    margin-bottom: 14px;
}

.offer-link {
    display: block;
    height: 38px;
    width: 135px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.offer-link:hover,
.offer-link:focus {
    background-color: rgba(197, 197, 197, 0.3);
}

.offer-link:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.materials {
    background-color: #ffbf47;
}

.materials::after {
    content: "";
    background-image: url(../img/design/icon-bucket.svg);
    position: absolute;
    width: 44px;
    height: 65px;
    right: 43px;
    transform: translateY(-50%);
    top: 50%;
}

.tools {
    background-color: #3bbce3;
}

.tools::after {
    content: "";
    background-image: url(../img/design/icon-drill.svg);
    position: absolute;
    width: 75px;
    height: 61px;
    right: 31px;
    transform: translateY(-50%);
    top: 50%;
}

.machinery {
    background-color: #dc91d8;
}

.machinery::after {
    content: "";
    background-image: url(../img/design/icon-tracktor.svg);
    position: absolute;
    width: 78px;
    height: 62px;
    right: 31px;
    transform: translateY(-50%);
    top: 50%;
}

.discounts {
    background-color: #8ed78f;
}

.discounts::after {
    content: "";
    background-image: url(../img/design/icon-cart-big.svg);
    position: absolute;
    width: 59px;
    height: 72px;
    right: 45px;
    transform: translateY(-50%);
    top: 50%;
}

.shipping {
    background-color: #ffc047;
}

.shipping::after {
    content: "";
    background-image: url(../img/design/icon-truck.svg);
    position: absolute;
    width: 78px;
    height: 63px;
    right: 31px;
    transform: translateY(-50%);
    top: 50%;
}

.slider {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.slide-list {
    margin: 0;
    padding: 23px 0 0 24px;
    list-style: none;
  }

.slide {
    display: none;
    padding: 0;
    margin: 0;
} 

.img-1 {
    background-color: burlywood;
    background-image: url(../img/content/worker-drill.jpg);
    background-repeat: no-repeat;
}

.img-2 {
    background-color: burlywood;
    background-image: url(../img/content/worker-perf.jpg);
    background-repeat: no-repeat;
}

.slide-current {
    display: block;
}

.slider-title {
    color: #fff; 
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;  
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.slider-slogan {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 113px 0;
}

.slider-arrows {
    position: absolute;
    top: 122px;
    left: 24px;
    display: flex;
    width: 576px;
    justify-content: space-between;
}

.arrow {
    padding: 0;
    width: 22px;
    height: 40px;
    border: none;
    background: transparent;
}

.left {
    background-image: url(../img/design/icon-left.svg);
    background-repeat: no-repeat;
}

.right {
    background-image: url(../img/design/icon-left.svg);
    background-repeat: no-repeat;
    transform: scaleX(-1)
}

.slider-controls {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 30px;
    justify-content: space-between;
}

.slider-controls button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current {
    background-color: red;
}

.section-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light-brown);
    padding: 23px 14px 28px 28px;
    margin: 0 0 20px 0;
}

.section-title {
    color: var(--dark-grey);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

.article-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin: 0 0 70px 0;
}

.list-item {
    background-color: white;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    position: relative;
    overflow: hidden;
}

.list-item article {
    min-height: 316px;
}

.list-item:hover,
.list-item:focus {
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.15);
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
    font-family: PT sans;
    padding-bottom: 21px;
}

.min-height {
    min-height: 164px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-color: white;
    margin-bottom: 15px;
}

.article-title {
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}

.article-img {
    margin-top: 4px;
    margin-right: 11px;
}

.article-cost-old {
    color: var(--old-cost);
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: line-through;
    margin: 0;
}

.article-cost-new {
    position: relative;
    padding: 10px 22px 10px 33px;
    margin: auto 0 0 -8px;
    background-color: var(--basic-red);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.article-cost-new::after {
    position: absolute;
    left: 100%;
    top: 0;
    content: "";
    height: 1px;
    width: 1px;
    border: 19px solid transparent;
    border-left-color: var(--basic-red);
}

.actions {
    display: none;
    margin-left: -3px;
    margin-top: -3px;
    margin-bottom: 18px;
}

.article:hover .actions {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.article:hover .item-pic {
    display: none;
}

.article-buy {
    display: block;
    width: 135px;
    background-color: var(--basic-green);
    box-shadow: inset 0 -3px 0 #367315;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 53px;
    position: relative;
    margin-bottom: 10px;
}

.article-buy::before {
    content: "";
    background-image: url(../img/design/icon-cart.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    opacity: 30%;
    position: absolute;
    top: 10px;
    left: 30px;
}

.article-buy:hover,
.artcile-buy:focus {
    background-color: var(--success);
}

.article-buy:active {
    background-color: #518534;
}

.article-fav {
    width: 135px;
    border: 3px solid var(--basic-green);
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    color: var(--dark-grey);
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 6px;
}

.article-fav:hover,
.article-fav:focus {
    border: 3px solid var(--dark-grey);
    color: var(--dark-grey);
}

.article-fav:active {
    border: 3px solid var(--basic-greylight);
    color: var(--basic-greylight);
}

.makes-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 145px 145px;
    gap: 20px;
    padding: 0;
    margin: 0 0 70px 0;
}

.makes:active {
    opacity: 0.5;
}

.services-wrapper {
    background-color: var(--basic-background);
    padding-top: 63px;
    padding-bottom: 99px;
}

.services-top {
    padding-bottom: 70px;
}

.current {
    display: block;
}

.services-top h3 {
    font-weight: normal;
    color: black;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 25px;
}

.services-top p {
    margin: 0;
    color: black;
    font-family: PT sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.services-slider {
    display: flex;
    position: relative;
}

.services-controls {
    display: flex;
    flex-direction: column;
    position: relative;
}



.services-controls::after {
    content: "";
    background-image: url(../img/design/side-shadow.png);
    position: absolute;
    width: 10px;
    height: 279px;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
}

.services-slider button {
    width: 240px;
    background-color: var(--dark-grey);
    color: white;
    font-family: inherit;
    text-align: left;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    border: none;
    box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
    padding: 14px 0 18px 22px;
    cursor: pointer;
}

.services-controls .active {
    background-color: white;
    color: var(--dark-grey);
    box-shadow: none;
}

.slide-list-2 {
    padding: 0 0 0 80px;
    margin: 0;
}

.services-1::after {
    content: "";
    background-image: url(../img/design/shipping.png);
    width: 468px;
    height: 261px;
    position: absolute;
    top: 19px;
    right: 0;
}

.services-2::after {
    content: "";
    background-image: url(../img/design/guarantee.png);
    width: 389px;
    height: 283px;
    position: absolute;
    top: -4px;
    right: 0;
}

.services-3::after {
    content: "";
    background-image: url(../img/design/credit.png);
    width: 465px;
    height: 285px;
    position: absolute;
    top: -3px;
    right: -9px;
}

.services-title {
    font-weight: normal;
    margin: 0;
    margin-top: -2px;
    padding: 0 0 28px 0;
    color: var(--dark-grey);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-text {
    margin: 0;
    color: black;
    font-family: PT sans;
    font-size: 13px;
    line-height: 25px;
}

.services-3 .services-text {
    margin-bottom: 26px;
}

.services-3 a {
    display: block;
    background-color: #ff5357;
    width: 195px;
    border-radius: 3px;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 0 10px;
}

.text-box {
    font-family: PT sans;
    color: black;
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 26px 0;
}

.text-box1 {
    font-family: pt sans;
    color: black;
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 1px 0;
}

.text-box2 {
    font-family: pt sans;
    color: black;
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 32px 0;
}

.about-wrapper {
    display: flex;
    margin: 70px auto 69px;
}

.about-section {
    margin: 0 auto 0 0;
}

.about-title {
    font-weight: normal;
    color: black;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 24px 0;
}

.partners-list {
    margin: 0;
    padding-left: 37px;
}

.partners-item {
    color: black;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 12px 0;
    position: relative;
}

.partners-item:last-child {
    margin-bottom: 20px;
}

.partners-item::before {
    content: "";
    background-color: var(--basic-red);
    width: 25px;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -37px;
}

.contacts-map {
    display: block;
    margin: 0 0 20px 0;
}

.common {
    display: block;
    background-color: var(--basic-red);
    border: none;
    text-align: center;
    color: #fff;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 10px;
}

.common:hover,
.common:focus {
    background-color: #ca2c37;
}

.common:active {
    background-color: var(--error);
}

.button {
    margin: auto 0 0 0;
}

.button1 {
    width: 192px;
    margin: auto 0 0 0;
}

.button:active {
    background-color: var(--darker-red);
}

.button2 {
    width: 220px;
}

.button3 {
    align-self: flex-end;
}

.button4 {
    width: 100%;
}

.bottom-middle {
    display: flex;
    justify-content: space-between;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 330px;
}

.bottom-logo {
    background-color: var(--basic-red);
    padding: 19px 41px 15px 41px;
    box-shadow: 0 5px 0 #8a1f27;
    margin: 0 0 27px 0;
}

.address-bottom {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 54px 5px;
}

.phone-bottom {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.links-wrapper {
    width: 550px;
}

.links-top-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 37px -1px 34px 3px;
}

.links-bottom-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 74px 26px;
}

.top-row-link {
    color: #F1F5F7;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.top-row-link:hover,
.top-row-link:focus {
    text-decoration: underline;
}

.top-row-link:active {
    opacity: 0.5;
    text-decoration: none;
}

.bottom-row-link {
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.bottom-row-link:hover,
.bottom-row-link:focus {
    text-decoration: underline;
}

.bottom-row-link:active {
    opacity: 0.5;
    text-decoration: none;
}

.the-bottom {
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px; 
    padding-bottom: 29px;
}

.copyright {
    width: 227px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    margin: 1px;
    margin-right: 161px;
    margin-left: 1px;

}

.bottom-link-title {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    width: max-content;
}

.bottom-link {
    color: #ffd180;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.bottom-link:hover,
.bottom-link:focus {
    text-decoration: underline;
}

.bottom-link:active {
    color: var(--basic-red);
    text-decoration: none;
}

.section-social {
    margin: 0;
    margin-right: 118px;
}

.section-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 134px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.section-social h2 {
    margin: 0;
}

.social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: #212a3a;
        border-radius: 50%;
        color: inherit;
}

.khuy {
    display: flex;
}

.bottom-link-title:first-child {
    margin-right: 51px;
}

.bottom-link-title:last-child {
    margin-right: 14px;
}

.contacts-field input,
.contacts-field textarea {
    background-color: white;
    border: 2px solid var(--basic-greylight);
    border-radius: 2px;
    color: #a9a9a9;
    font-family: pt sans;
    font-size: 13px;
    line-height: 24px;
    resize: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-top: 7px solid var(--basic-red);
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.form {
    top: auto;
    bottom: 352px;
    width: 620px;
    padding: 0;
}

.confirm {
    width: 620px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 66px;
}

.confirm svg {
    position: absolute;
    top: 50px;
    left: 81px;
}

.confirm-text {
    margin: 0;
}

.back {
    display: block;
    background-color: white;
    border: none;
    text-align: center;
    color: black;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
}

.contacts-form {
    display: flex;
    flex-wrap: wrap;
    padding: 46px 80px 37px 80px;
}

.contacts-field:first-child {
    margin-right: 20px;
}

.map {
    display: none;
    width: 943px;
    height: 449px;
}

.map iframe {
    border: none;
}

.contacts-field {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.contacts-field input,
.contacts-field textarea {
    margin-top: 11px;
}

.cred {
    flex-grow: 1;
}

.area {
    width: 100%;
    margin-top: 13px;
}

.popup-bottom {
    background-color: #f1f1f1;
    padding: 37px 80px;
    text-align: center;
    width: 100%;
}

.popup-link {
    display: inline-block;
}

.popup-link:first-child {
    margin-right: 10px;
}

.popup-close {
    background-color: transparent;
    border: none;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 14px;
    right: 11px;
    cursor: pointer;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 27px;
  height: 4px;
  background-color: var(--basic-red);
  border-radius: 1px;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.popup {
    display: none;
}